/* Footer Form Section Style */
.footer-form{
    color: $color-white;
    &__title{
        font-size: toRem(21);
        font-weight: 400;
    }
    &__text{
        font-size: toRem(13);
        font-weight: 500;
    }
}