// SCSS Variable's

$font-primary: 'Work Sans', sans-serif;

$color-primary:#e12523;
$color-secondary:#001d3b;
$color-off-white:#f1f1f1;
$color-success:#9bbb59;

$color-black:#000000;
$color-white:#ffffff;