/* Common Forms Style */
.form{
    &-text{
        font-size: toRem(16);
    }
    &-label{
        font-size: toRem(16);
        font-weight: 500;
    }
    &-control{
        border-color: #b8bdc9;
        text-shadow: none;
        &::placeholder{
            color: #8894ab;
            font-weight: 300;
        }
    }
    &-required{
        vertical-align: super;
    }
    .invalid-feedback{
        padding: 0 5px;
        font-size: toRem(11);
        &__icon{
            max-width: toRem(12);
            margin-right: 5px;
        }
    }
}

.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip{
    display: inline-block;
    width: auto;
}

.real-estate__form{
    border-left: 1px solid rgba(87,100,126,.21);
    border-right: 1px solid rgba(87,100,126,.21);
}